#{extends 'template.html' /}
#{set title:'AJAX Base 64 Encoder/Decoder Online Utility' /}
#{set description:'Online AJAX utility for quickly Base64 encoding or decoding text.' /}
#{set keywords:'Base64, generate, encode, decode, AJAX, online, utility, instant, fast' /}
#{set extraScripts:'<script src="/public/scripts/base64.js?v=1"></script>' /}

<div class="grid_12 alpha omega" style="margin-bottom: 0.5em;">
	<span class="heading">AJAX Base64 Encode/Decode Utility</span>
	<span style="float: right">Created by The Buzz Media, LLC</span>
</div>
<div id="tool">
	<div id="tabs" class="grid_12 alpha omega">
		<ul>
			<li><a id="decodeTab" href="#decode">Decode</a></li>
			<li><a id="encodeTab" href="#encode">Encode</a></li>
		</ul>
		<div id="decode">
			<form id="decodeForm">
				<label for="decodeText">Paste Text Below:</label>
				<div class="clear"></div>
				<textarea id="decodeText" class="grid_11 alpha text" cols="1" rows="8"></textarea>
				<div class="clear"></div>
				<span class="pull_2" style="font-style: italic;padding-left: 1em;"><strong>Disclaimer</strong>: This application does not store or persist data in any way.</span>
				<input class="grid_2 push_9" id="decodeButton" type="submit" value="Decode">
				<div class="clear"></div>
			</form>
		</div>
		<div id="encode">
			<form id="encodeForm">
				<label for="encodeText">Paste Text Below:</label>
				<div class="clear"></div>
				<textarea id="encodeText" class="grid_11 alpha text" cols="1" rows="8"></textarea>
				<div class="clear"></div>
				<span class="pull_2" style="font-style: italic;padding-left: 1em;"><strong>Disclaimer</strong>: This application does not store or persist data in any way.</span>
				<input class="grid_2 push_9" id="encodeButton" type="submit" value="Encode">
				<div class="clear"></div>
			</form>
		</div>
	</div>
	<div id="result" class="grid_12 alpha omega ui-helper-hidden">
		<div id="title" class="ui-state-highlight ui-corner-all alpha grid_5">
			<span class="ui-icon ui-icon-check" style="float: left;margin-right: 0.5em;margin-top: 0.4em;"></span>
			<span class="heading">Result</span>
			<span style="float: right;margin-right: 2em;font-style:italic;">
				<span id="resultSize"></span> characters (<span id="resultTiming"></span> ms)
			</span>
		</div>
		<div class="clear"></div>
		<textarea id="resultText" class="alpha grid_12" rows="12" cols="1"></textarea>
	</div>
</div>