#{extends 'template.html' /}
#{set title:'AJAX Byte to Char Online Converter' /}
#{set description:'Online AJAX converter for quickly converting Bytes to Chars and Chars to Bytes.' /}
#{set keywords:'byte, char, byte conversion, char conversion, byte to char, char to byte, number conversion, AJAX, online, utility, instant, fast' /}
#{set extraScripts:'<script src="/public/scripts/bytechar.js?v=1"></script>' /}

<div class="grid_12 alpha omega" style="margin-bottom: 0.5em;">
	<span class="heading">AJAX Byte/Char Converter</span>
</div>
<div id="tool">
	<div id="tabs" class="grid_12 alpha omega">
		<ul>
			<li><a id="byteToCharTab" href="#b2c">Byte to Char</a></li>
			<li><a id="charToByteTab" href="#c2b">Char to Byte</a></li>
		</ul>
		<div id="b2c">
			<form id="b2cForm">
				<label for="byteText">Paste Byte Values Below (Space or comma separated):</label>
				<!-- <span class="optionsPanel">
					<label><a href="http://en.wikipedia.org/wiki/Endianness" target="_blank">Endian</a>: </label>
					<input type="radio" id="endianBig1" name="endian" value="0" checked />
					<label for="endianBig1">Big</label>&nbsp;
					<input type="radio" id="endianLittle1" name="endian" value="1" />
					<label for="endianLittle1">Little</label>&nbsp;
				</span> -->
				<div class="clear"></div>
				<textarea id="byteText" class="grid_11 alpha text" cols="1" rows="8"></textarea>
				<div class="clear"></div>
				<span class="pull_2" style="font-style: italic;padding-left: 1em;"><strong>Disclaimer</strong>: This application does not store or persist data in any way.</span>
				<input class="grid_2 push_9" id="byteToCharButton" type="submit" value="Convert to Chars">
				<div class="clear"></div>
			</form>
		</div>
		<div id="c2b">
			<form id="c2bForm">
				<label for="charText">Paste Chars (Text) Below:</label>
				<span class="optionsPanel">
					<label>Separators in Output: </label>
					<input type="radio" name="separator" id="comma" value="0" checked />
					<label for="comma">Commas</label>&nbsp;
					<input type="radio" name="separator" id="space" value="1" />
					<label for="space">Spaces</label>
				</span>
				<div class="clear"></div>
				<textarea id="charText" class="grid_11 alpha text" cols="1" rows="8"></textarea>
				<div class="clear"></div>
				<span class="pull_2" style="font-style: italic;padding-left: 1em;"><strong>Disclaimer</strong>: This application does not store or persist data in any way.</span>
				<input class="grid_2 push_9" id="charToByteButton" type="submit" value="Convert to Bytes">
				<div class="clear"></div>
			</form>
		</div>
	</div>
	<div id="result" class="grid_12 alpha omega ui-helper-hidden">
		<div id="title" class="ui-state-highlight ui-corner-all alpha grid_5">
			<span class="ui-icon ui-icon-check" style="float: left;margin-right: 0.5em;margin-top: 0.4em;"></span>
			<span class="heading">Result</span>
			<span style="float: right;margin-right: 2em;font-style:italic;">
				<span id="resultSize"></span> characters (<span id="resultTiming"></span> ms)
			</span>
		</div>
		<div class="clear"></div>
		<textarea id="resultText" class="alpha grid_12" rows="12" cols="1"></textarea>
	</div>
</div>